<lasso-page package-path="./browser.json" />
<!DOCTYPE html>
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title -- Marko + Lasso + Bulma
    <!-- CSS includes -->
    lasso-head

body
  section.section
    div.container
      h1.title -- Hello Worlds
      p.subtitle -- My first website with
        strong --  Bulma !!!
  section.section
    <!-- Top-level UI component: -->
    app
  <!-- JS includes -->
  lasso-body
